<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HCMS</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/landing_page/images/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/landing_page/css/bootstrap.min.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="/static/landing_page/revslider/css/settings.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="/static/landing_page/css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/static/landing_page/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/static/landing_page/css/responsive.css">
    <style type="text/css">
    .container-download-app {
        /* background-color: #FAEBD7; */
        border-radius: 5px;
        padding: 20px 5px;
        background: -moz-linear-gradient(53deg, rgba(153, 218, 255, 1) 0%, rgba(255, 166, 0, 1) 100%);
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #99DAFF), color-stop(100%, #FFA600));
        background: -webkit-linear-gradient(53deg, #99DAFF 0%, #FFA600 100%);
        background: -o-linear-gradient(53deg, rgba(153, 218, 255, 1) 0%, rgba(255, 166, 0, 1) 100%);
        background: -ms-linear-gradient(53deg, rgba(153, 218, 255, 1) 0%, rgba(255, 166, 0, 1) 100%);
        background: linear-gradient(37deg, #99DAFF 0%, #FFA600 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA600', endColorstr='#99DAFF', GradientType=0);
    }

    .container-download-app h1 {
        font-weight: 600;
        font-style: italic;
        color: white;
    }

    .container-download-app h4 {
        font-weight: 600;
        color: white;
    }

    .container-download-app img {
        max-width: 100%;
    }

    .container-download-app>div:nth-child(2) {
        margin-top: 20px;
    }
    </style>
</head>

<body>
    <!-- loading -->
    <div id="loading">
        <div id="loading-center">
            <img src="/static/landing_page/images/loader.gif" alt="loder">
        </div>
    </div>
    <!-- loading End -->
    <!-- Header-->
    <header id="header" class="home" style="padding: 5px 0;">
        <div class="container">
            <div class="row align-items-center no-gutters">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="#" target="_blank">
                            <img class="img-fluid logo" src="/static/landing_page/images/ISEAL_logo.png" alt="image" style="height: 50px; width: auto;">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav ml-auto">
                                <!-- <li class="nav-item">
                    <a class="nav-link active" href="https://www.rainforest-alliance.org/tags/ghana" target="_blank">Rainforest</a>
                  </li> -->
                                <li class="nav-item">
                                    <a class="nav-link" href="#about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/login/">Enter Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.rainforest-alliance.org/contact" target="_blank">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header-->
    <!--=================================
    MAIN CONTENT -->
    <div class="main-content">
        <!-- START REVOLUTION SLIDER -->
        <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="agriculture" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
            <!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
            <div id="rev_slider_1_1" class="rev_slider fullwidthabanner tp-overflow-hidden" style="display:none;" data-version="5.2.6">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="revslider/assets/100x50_7f601-bg1.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="/static/landing_page/revslider/assets/7f601-bg1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <h1 class="tp-caption   tp-resizeme" id="slide-1-layer-1" data-x="30" data-y="center" data-voffset="-60" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="x:50px;opacity:0;s:1000;e:Power3.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="600" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-size: 54px; line-height: 66px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;"><b>Hybrid Community-based Monitoring System <br> (HCMS)</b> </h1>
                        <!-- LAYER NR. 2 -->
                        <!--   <p class="tp-caption   tp-resizeme" 
       id="slide-1-layer-2" 
       data-x="30" 
       data-y="center" data-voffset="40" 
            data-width="['auto']"
      data-height="['auto']"
      data-transform_idle="o:1;"
 
       data-transform_in="x:50px;opacity:0;s:1000;e:Power3.easeInOut;" 
       data-transform_out="opacity:0;s:300;" 
      data-start="900" 
      data-splitin="none" 
      data-splitout="none" 
      data-responsive_offset="on" 

      
      style="z-index: 6; white-space: nowrap; font-size: 18px; line-height: 30px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;">The project seeks to create a hybrid monitoring and evaluation programme that combines remote and on-the-ground data gathering tools for data management and reporting at a landscape level
 </p>
 -->
                        <!-- LAYER NR. 3 -->
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption   tp-resizeme" id="slide-1-layer-6" data-x="right" data-hoffset="-203" data-y="bottom" data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1000;e:Power3.easeOut;" data-transform_out="opacity:0;s:300;" data-start="1800" data-responsive_offset="on" style="z-index: 8;">
                           
                        </div>
                    </li>
              <!--   
                    <li data-index="rs-5" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="revslider/assets/100x50_4078c-bg.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                       
                        <img src="/static/landing_page/revslider/assets/4078c-bg.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                      
                        <h1 class="tp-caption   tp-resizeme" id="slide-5-layer-1" data-x="30" data-y="center" data-voffset="-60" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="x:50px;opacity:0;s:1000;e:Power3.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="600" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-size: 54px; line-height: 66px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;"><b>Hybrid Community-based Monitoring System<br> (HCMS)</b> </h1>
                                     <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-5-layer-5" data-x="right" data-hoffset="-224" data-y="bottom" data-voffset="-14" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1000;e:Power3.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="1800" data-responsive_offset="on" style="z-index: 8;">
                            <div class="rs-looped rs-slideloop" data-easing="linearEaseNone" data-speed="2" data-xs="0" data-xe="0" data-ys="0" data-ye="10">
                               mg src="/static/landing_page/revslider/assets/81019-tabbbbbb.png" alt="" data-ww="auto" data-hh="auto" data-no-retina> -->
                            </div>
                        </div>
                    </li> 
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div><!-- END REVOLUTION SLIDER -->
        <!-- Story Start -->
        <section id="about" class="iq-story overview-block-pt main-bg">
            <div class="container">
                <div class="row mt-5 mt-md-0">
                    <div class="col-lg-4 col-md-5">
                        <div class="iq-asked-img position-relative text-center">
                            <img class="img-fluid" src="/static/landing_page/images/about/011.jpg" alt="#">
                        </div>
                        <!-- <div class="play-video-two " >
                    <a href="https://youtu.be/0O2aH4XLbto" class="iq-video-two popup-youtube"><i class="ion-play"></i></a>
                    <div class="iq-waves">
                      <div class="waves wave-1"></div>
                      <div class="waves wave-2"></div>
                      <div class="waves wave-3"></div>
                    </div>
                  </div> -->
                    </div>
                    <div class="col-lg-8 col-md-7 mt-5 mt-lg-0 mt-md-0">
                        <div class="section-title text-left">
                            <h3 class="title text-white">About Project</h3>
                            <!-- <h3 class="text-white mb-2 font-weight-normal">FARM COMPANY</h3> -->
                            <p class="mb-0 text-white"> The scope of the Hybrid Community-based Monitoring System (HCMS) is limited to the Sui River cocoa-forest landscape / Sui River Forest Reserve. It covers an area of 333.9 km², consisting of a long narrow band that follows the Bia-Tano watershed, south of Buaku, in the Western North Region of Ghana. The system is hinged on a landscape participatory approach which is necessary to secure the future of forests and significantly improve livelihood opportunities for farmers and forest users. This system is designed to leverage information and communications technology and empower communities to own the monitoring process, while reducing human error to the barest minimum.
                            </p>
                        </div>
                        <!-- <a class="button" href="#" >READ MORE</a> -->
                    </div>
                    <!--  <div class="col-lg-4 col-md-12 iq-rmt-50 iq-rmb-80">
                  <p class="text-white"> the Hybrid Community-based Monitoring System (HCMS) will have the rigour to support communities to monitor forest and landscape performance in a way that is science-driven, credible, user-friendly and guarantees integrity of data. The HCMS will be benchmarked to the LandScale assessment framework, and other nationally determined tools and models, and will establish the motivation for community involvement and the business model for investment.  </p>
                </div> -->
                </div>
            </div>
            <!-- <div class="scrolling-effect top right default">
              <div data-bottom="transform:translatey(20px)" data-top="transform:translatey(0);"><img src="/static/landing_page/images/effect/01.png" class="img-fluid" alt="#"></div>
            </div> -->
        </section>
        <!-- Story Start -->
        <!-- How it’s works Start -->
        <section class="iq-work-box overview-block-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <h3 class="title">Componets of the HCMS </h3>
                            <!-- <p class="mb-0">Fresh and healthy supplies directly from farmers
                    </p> -->
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="work-box">
                            <div class="img-box">
                                <img src="/static/landing_page/images/works/01.png" class="img-fluid rounded-circle" alt="#">
                            </div>
                            <div class="work-box-info">
                                <a href="#">
                                    <h5 class="mt-4 mb-3">Data Hub</h5>
                                </a>
                                <p style="text-align: -webkit-auto;">A component of the HCMS is the Data hub. This is the repository where all data sets collected are saved and displayed. It consists of the maps, dashboards, reporting with regards to tree registration. Additionally, its also consist of data with regards to trainings being held on the landscape, additional livelihoods, gender dynamics, deforestation monitoring and verifications, among other indicators across the landscape.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="work-box">
                            <div class="img-box">
                                <img src="/static/landing_page/images/works/02.png" class="img-fluid rounded-circle" alt="#">
                            </div>
                            <div class="work-box-info">
                                <a href="#">
                                    <h5 class="mt-4 mb-3">Mobile Application</h5>
                                </a>
                                <p style="text-align: -webkit-auto;">A robust monitoring system should have an equally robust data collection application. The mobile application of HCMS leverages on geographic information system (GIS), satellite technology and community systems to undertake continuous collection of data regarding tree registration, deforestation monitoring, climate smart agriculture, among others. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="work-box">
                            <div class="img-box">
                                <img src="/static/landing_page/images/works/03.png" class="img-fluid rounded-circle" alt="#">
                            </div>
                            <div class="work-box-info">
                                <a href="#">
                                    <h5 class="mt-4 mb-3">Land Use Land Cover Monitoring </h5>
                                </a>
                                <p style="text-align: -webkit-auto;">Understanding Land use land cover (LULC) dynamics is an important of aspect of monitoring landscapes. The HCMS therefore provides a platform where landscapes can monitor their land cover against some land use activities. It utilises the power of Google Earth Engine and combines the optical (LANDSAT) and Synthetic Aperture Radar (Sentinel-1) images to produce poignant LULC information covering the landscape.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- How it’s works Start -->
        <!-- feature-box Start -->
        <section class="iq-feature-box overview-block-ptb blue-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title mb-0 text-left text-white">
                            <h3 class="title text-white mb-4">Why the HCMS ?</h3>
                            <p class="mb-5">This project is designed to leverage information and communications technology and empower communities to own the M&E process, while reducing human error to the barest minimum. It will invest in capacity development of a local team of LMB members, including youth and women, who can effectively perform M&E tasks, and end-users who can ensure the sustainability of the project.</p>
                        </div>
                        <div class="row mt-5">
                            <div class="col-lg-12">
                                <div class="feature-box">
                                    <div class="iq-icon">
                                        <i class="fab fa-pagelines"></i>
                                    </div>
                                    <div class="iq-feature-info">
                                        <!-- <h6 class="text-white mb-3">Excellent Service</h6> -->
                                        <p class="mb-0">Moreover, it has been documented that community monitoring is successful only where there is sustained funding, legislation for communities to enforce rules, clear tenure rights, and an enabling environment created by the state.Against this backdrop, the project is to develop a business model for supporting HCMS in monitoring of Landscape performance, leveraging on the legal institutional measures of the LMB, and the capacity to support tree registration process.</p>
                                    </div>
                                </div>
                            </div>
                            <!--  <div class="col-lg-6 ">
                      <div class="feature-box">
                        <div class="iq-icon">
                          <i class="fab fa-pagelines"></i>
                        </div>
                        <div class="iq-feature-info">
                         
                          <p class="mb-0">Against this backdrop, the project is to develop a business model for supporting HCMS in monitoring of Landscape performance, leveraging on the legal institutional measures of the LMB, and the capacity to support tree registration process.</p>
                        </div>
                      </div>
                    </div>
                   -->
                        </div>
                    </div>
                    <!--  <div class="col-lg-4 iq-rmt-100">
                  <img class="img-fluid first-img wow fadeInUp" src="/static/landing_page/images/feature/01.jpg" alt="/static/landing_page/images">
                  <img class="img-fluid second-img wow fadeInUp" data-wow-duration="2s" src="/static/landing_page/images/feature/02.jpg" alt="/static/landing_page/images">
                </div> -->
                </div>
            </div>
            <!-- <div class="scrolling-effect bottam right default">
              <div data-bottom="transform:translatey(30px)" data-top="transform:translatey(0);"><img src="/static/landing_page/images/effect/02.png" class="img-fluid" alt="#"></div>
            </div> -->
        </section>
        <div class="container">
            <br>
            <div class="row container-download-app text-center">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h3>
                        Download the mobile App by clicking on the button .
                    </h3>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6 col-lg-6">
                    <a href="/static/landing_page/images/clients/tree_registration.apk">
                        <div class="col-xs-12 col-lg-12 col-md-12col-sm-6">
                            <img src="/static/landing_page/images/clients/download.jpg" width="200" />
                        </div>
                    </a>
                </div>
            </div>
            <br>
            <!-- feature-box End -->
            <!-- Our Partners -->
            <div class="iq-clients light-green">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section-title text-center">
                                        <h3 class="title">Partners</h3>
                                        <!-- <p class="mb-0">Fresh and healthy supplies directly from farmers
                      </p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="owl-carousel" data-autoplay="false" data-loop="true" data-nav="false" data-dots="false" data-items="5" data-items-laptop="4" data-items-tab="3" data-items-mobile="2" data-items-mobile-sm="1" data-margin="30">
                                <a href="https://www.rainforest-alliance.org/" title="Rainforest Alliance">
                                    <div class="item">
                                        <div class="clients-box text-center">
                                            <img class="img-fluid client-img" src="/static/landing_page/images/clients/ra.jpg" alt="#">
                                        </div>
                                    </div>
                                </a>
                                <div class="item">
                                    <div class="clients-box text-center">
                                        <img class="img-fluid client-img" src="/static/landing_page/images/clients/bodi.jpg" alt="#">
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="item">
                                        <div class="clients-box text-center">
                                            <img class="img-fluid client-img" src="/static/landing_page/images/clients/bs.jpg" alt="#">
                                        </div>
                                    </div>
                                </a>
                                <div class="item">
                                    <div class="clients-box text-center">
                                        <img class="img-fluid client-img" src="/static/landing_page/images/clients/sfdce.jpg" alt="#">
                                    </div>
                                </div>
                                <a href="https://www.isealalliance.org/" title="Iseal">
                                    <div class="item">
                                        <div class="clients-box text-center">
                                            <img class="img-fluid client-img" src="/static/landing_page/images/clients/iseal_v1.jpg" alt="#">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Our Clients End-->
        </div>
        <!--=================================
        MAIN CONTENT -->
        <!-- Footer Start -->
        <footer class="main-footer blue-bg">
            <div class="container">
                <!-- <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6 mb-5 iq-pr-80">
                <div class="footer-logo">
                  <a href="#">
                    <img class="img-fluid" src="/static/landing_page/images/logo-dark.png" alt="Vizion1">
                  </a>
                </div>
                <div class="textwidget">
                  <p class="mb-0">It is a long established fact that a reader will be distracted by the readable content.</p>
                </div>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6 mb-5">
                <h4 class="footer-title">Menu</h4>
                <ul>
                  <li><a href="about-us.html" aria-current="page">About Us</a></li>
                  <li><a href="technology.html">Technology</a></li>
                  <li><a href="services.html">Services</a></li>
                  <li><a href="blog-details.html">Blog</a></li>
                  <li><a href="contact-us.html">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6 mb-5">
                <h4 class="footer-title">About Us</h4>
                <ul>
                  <li><a href="#" aria-current="page">About vizion</a></li>
                  <li><a href="#">Roadmap</a></li>
                  <li><a href="#">How it Work </a></li>
                  <li><a href="team-details.html">Team</a></li>
                  <li><a href="#">News</a></li>
                </ul>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                <h4 class="footer-title">Contact Us</h4>
                <ul class="iq-contact">
                  <li>
                    <a href="tel:+0123456789"><i class="fas fa-phone"></i>+0123456789</a>
                  </li>
                  <li>
                    <a href="../../../cdn-cgi/l/email-protection.html#4e3d3b3e3e213c3a0e382734272120602d2123"><i class="fas fa-envelope"></i><span class="__cf_email__" data-cfemail="5439353d3814223d2e3d3b3a302139392d7a373b39">[email&#160;protected]</span></a>
                  </li>
                  <li></li>
                </ul>
                <ul class="social-links">
                  <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div>
            </div> -->
                <!-- <div class="row">
              <div class="col-sm-12">
                <hr>
              </div>
            </div> -->
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <p class="copyright mb-0">Copyright 2021 All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <!--  <div class="right-side">
                  <ul>
                    <li class="d-inline"><a href="#" class="mr-2">Terms & Conditions</a> </li>
                    <li class="d-inline"><a href="#">Privacy Policy</a></li>
                  </ul>
                </div> -->
                    </div>
                </div>
            </div>
            <div class="scrolling-effect-footer bottam right default">
                <div data-bottom="transform:translatey(30px)" data-top="transform:translatey(0);"><img src="/static/landing_page/images/effect/04.png" class="img-fluid" alt="#"></div>
            </div>
        </footer>
        <!-- Footer End -->
        <!-- back-to-top -->
        <div id="back-to-top">
            <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
        </div>
        <!-- back-to-top End -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/static/landing_page/js/jquery-3.3.1.min.js"></script>
        <!-- popper -->
        <script src="/static/landing_page/js/popper.min.js"></script>
        <!-- bootstrap -->
        <script src="/static/landing_page/js/bootstrap.min.js"></script>
        <!-- Appear JavaScript -->
        <script src="/static/landing_page/js/appear.js"></script>
        <!-- Count Down JavaScript -->
        <script src="/static/landing_page/js/countdown.min.js"></script>
        <!-- Magnific Popup JavaScript -->
        <script src="/static/landing_page/js/jquery.magnific-popup.min.js"></script>
        <!-- Owl Carousel -->
        <script src="/static/landing_page/js/owl.carousel.min.js"></script>
        <!-- Wow JavaScript -->
        <script src="/static/landing_page/js/wow.min.js"></script>
        <!-- Retina JavaScript -->
        <script src="/static/landing_page/js/retina.min.js"></script>
        <!-- Skrollr JavaScript -->
        <script src="/static/landing_page/js/skrollr.js"></script>
        <!-- REVOLUTION JS FILES -->
        <script src="/static/landing_page/revslider/js/jquery.themepunch.tools.min.js"></script>
        <script src="/static/landing_page/revslider/js/jquery.themepunch.revolution.min.js"></script>
        <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
        <script src="/static/landing_page/revslider/js/extensions/revolution.extension.actions.min.js"></script>
        <!-- <script src="/static/landing_page/revslider/js/extensions/revolution.extension.carousel.min.js"></script> -->
        <script src="/static/landing_page/revslider/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script src="/static/landing_page/revslider/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="/static/landing_page/revslider/js/extensions/revolution.extension.migration.min.js"></script>
        <script src="/static/landing_page/revslider/js/extensions/revolution.extension.navigation.min.js"></script>
        <script src="/static/landing_page/revslider/js/extensions/revolution.extension.parallax.min.js"></script>
        <script src="/static/landing_page/revslider/js/extensions/revolution.extension.slideanims.min.js"></script>
        <!-- <script src="/static/landing_page/revslider/js/extensions/revolution.extension.video.min.js"></script> -->
        <!-- Custom JavaScript -->
        <script src="/static/landing_page/js/custom.js"></script>
        <script>
        var tpj = jQuery;

        var revapi1;
        tpj(document).ready(function() {
            if (tpj("#rev_slider_1_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_1_1");
            } else {
                revapi1 = tpj("#rev_slider_1_1").show().revolution({
                    sliderType: "standard",
                    jsFileLocation: "//localhost/revslider-standalone/revslider/public/assets/js/",
                    sliderLayout: "fullwidth",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        onHoverStop: "off",
                    },
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: 1170,
                    gridheight: 800,
                    lazyType: "none",
                    parallax: {
                        type: "mouse",
                        origo: "enterpoint",
                        speed: 400,
                        levels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 46, 47, 48, 49, 50, 51, 55],
                        type: "mouse",
                    },
                    shadow: 0,
                    spinner: "spinner0",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            }
        }); /*ready*/
        </script>
</body>

</html>