
{% extends 'update/base.html' %}
{% block smonitor %} menu-open {% endblock %}
{% load static %}
{% block css %}
<style type="text/css">\

.eok{
    background-color: #358542;
    color: #fff;
}

</style>
{% endblock%}


{% block body %}

<div class="content-wrapper">
<div class="container-fluid" style="padding-top:0.4%">
<div class="row card" style="margin: 5%;padding: 5%;">
	

<div class="row" id="data_cont">
</div>

</div>
</div>
</div>




{% endblock%}




{% block js %}
   
<script type="text/javascript">

   

loader()
$.get("/seedlingmontblreport/",function(data){

    $("#data_cont").html(data)
    unload()
})

</script>


{% endblock %}


