{% load eok %}{% load humanize %}


<div class="row">
    <h4 style="margin-left: 45%;">Training Log</h4>
</div>
<div class="col-lg-12">
    <div class="single_element">
        <div class="quick_activity">
            <div class="row">
                <div class="col-12">
                    <div class="quick_activity_wrap">
                        <!-- single_quick_activity  -->
                        <div class="single_quick_activity">
                            <div class="count_content">
                                <p>Total Trainings</p>
                                <h3><span class="counter">{{training}}</span> </h3>
                            </div>
                            <a href="#" class="notification_btn">Total</a>
                            <div id="bar1" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="0"></span>
                            </div>
                        </div>
                        <!-- single_quick_activity  -->
                        <div class="single_quick_activity">
                            <div class="count_content">
                                <p>Trained Farmers</p>
                                <h3><span class="counter">{{trained_farmers}}</span> </h3>
                            </div>
                            <a href="#" class="notification_btn yellow_btn">Total</a>
                            <div id="bar2" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="65"></span>
                            </div>
                        </div>
                        <!-- single_quick_activity  -->
                        <div class="single_quick_activity">
                            <div class="count_content">
                                <p>Trained Male Farmers</p>
                                <h3><span class="counter">{{male_trained_farmers}}</span> </h3>
                            </div>
                            <a href="#" class="notification_btn green_btn">Total</a>
                            <div id="bar3" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="75"></span>
                            </div>
                        </div>
                        <!-- single_quick_activity  -->
                        <div class="single_quick_activity">
                            <div class="count_content">Trained Female Farmers</p>
                                <h3><span class="counter">{{female_trained_farmers}}</span></h3>
                            </div>
                            <a href="#" class="notification_btn violate_btn">Total</a>
                            <div id="bar4" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="85"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h4 style="margin-left: 45%;">Farmer Summary </h4>
</div>
<div class="row ">
    <div class="col-lg-4">
        <div class="white_card card_height_100 mb_30">
            <div class="white_card_body p-0">
                <div id="farm_gender"> </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="white_card card_height_100 mb_30">
            <div class="white_card_body p-0">
                <div id="farm_category"> </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="white_card card_height_100 mb_30">
           <!--  <div class="white_card_header">
                <div class="box_header m-0">
                    <div class="main-title">
                        <h3 class="m-0">COMMUNITIES AND SPECIES PLANTED</h3>
                    </div>
                </div>
            </div> -->
            <div class="white_card_body" id="age_prop">
                
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h4 style="margin-left: 45%;">Seedling Monitoring:</h4>
</div>
<div class="row ">
    <div class="col-lg-4">

        <div class="white_card card_height_100 mb_30">
            <div class="white_card_body p-0">
                <div id="famer_received"> </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="white_card card_height_100 mb_30">
          
            <div class="white_card_body p-0">
                <div id="seedling_survive"> </div>
            </div>
        </div>
    </div>
 <!--    <div class="col-lg-4">
        <div class="white_card card_height_100 mb_30">
            <div class="white_card_header">
                <div class="box_header m-0">
                    <div class="main-title">
                        <h3 class="m-0">XXXXX</h3>
                    </div>
                </div>
            </div>
            <div class="white_card_body">
                
            </div>
        </div>
    </div> -->
</div>
<!-- <div class="row">
    <h4 style="margin-left: 45%;">Alternative Livelihood</h4>
</div> -->
<!-- <div class="row ">
    <div class="col-lg-4">
        <div class="white_card card_height_100 mb_30">
          
            <div class="white_card_body p-0">
                <div id="ipie"> </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="white_card card_height_100 mb_30">
            
            <div class="white_card_body p-0">
                <div id="idash"> </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="white_card card_height_100 mb_30">
            <div class="white_card_header">
                <div class="box_header m-0">
                    <div class="main-title">
                        <h3 class="m-0">XXXXXXXXXXX</h3>
                    </div>
                </div>
            </div>
            <div class="white_card_body">
              
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="row">
    <h4 style="margin-left: 45%;">Training Log</h4>
</div> -->
<!-- <div class="row ">
    <div class="col-lg-4">
        <div class="white_card card_height_100 mb_30">
            <div class="white_card_body p-0">
                <div id="ipie"> </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="white_card card_height_100 mb_30">
            <div class="white_card_body p-0">
                <div id="idash"> </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="white_card card_height_100 mb_30">
            <div class="white_card_header">
                <div class="box_header m-0">
                    <div class="main-title">
                        <h3 class="m-0">COMMUNITIES AND SPECIES PLANTED</h3>
                    </div>
                </div>
            </div>
            <div class="white_card_body">
                <div class="QA_table table-responsive ">
                
                    <table id="comspe" class="table pt-0">
                        <thead>
                            <tr>
                                <th scope="col">Community</th>
                                <th scope="col">Species</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for aa in commtrees %}
                            <tr>
                                <td>{{aa.community}}</td>
                                <td>{{aa.species | eokremove }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->
<script type="text/javascript">
$(document).ready(function() {
    $('#comspe').DataTable({
        // dom: 'Bfrtip',
        "lengthChange": false,
        "pageLength": 4

    });
});





// Highcharts.chart('farm_gender', {
//     chart: {
//         plotBackgroundColor: null,
//         plotBorderWidth: null,
//         plotShadow: false,
//         type: 'pie'
//     },
//     title: {
//         text: 'Male Female Proportion'
//     },
//     tooltip: {
//         pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
//     },
//     accessibility: {
//         point: {
//             valueSuffix: '%'
//         }
//     },
//     plotOptions: {
//         pie: {
//             allowPointSelect: true,
//             cursor: 'pointer',
//             dataLabels: {
//                 enabled: false
//             },
//             showInLegend: true
//         }
//     },
//     series: [{
//         name: 'Brands',
//         colorByPoint: true,
//         data: [{
//             name: 'Male',
//             y: {{ male | safe }},
//             sliced: true,
//             selected: true
//         }, {
//             name: 'Female',
//             y: {{ female | safe }}
//         }]
//     }]
// });


Highcharts.chart('farm_category', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Small holder Category Proportion'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [
            {% for cat in cate_arr %} {
                name: {{ cat | safe }} [0],
                y: {{ cat | safe }} [1]
            },
            {% endfor %}
        ]
    }]
});



// Highcharts.chart('famer_received', {
//     chart: {
//         type: 'column'
//     },
//     title: {
//         text: 'DISTRIBUTION OF SEEDLINGS '
//     },
//     // subtitle: {
//     //     text: 'Source: <a href="http://en.wikipedia.org/wiki/List_of_cities_proper_by_population">Wikipedia</a>'
//     // },
//     xAxis: {
//         type: 'category',
//         labels: {
//             rotation: -45,
//             style: {
//                 fontSize: '13px',
//                 fontFamily: 'Verdana, sans-serif'
//             }
//         }
//     },
//     yAxis: {
//         min: 0,
//         title: {
//             text: 'Total Farms'
//         }
//     },
//     legend: {
//         enabled: false
//     },
//     tooltip: {
//         pointFormat: 'Total Farmers: <b>{point.y:.0f} </b>'
//     },
//     series: [{
//         name: 'Total Farmers ',
//         data: {{ farmer | safe }},
//         dataLabels: {
//             enabled: true,
//             rotation: -90,
//             color: '#FFFFFF',
//             align: 'right',
//             format: '{point.y:.1f}', 
//             y: 10, // 10 pixels down from the top
//             style: {
//                 fontSize: '13px',
//                 fontFamily: 'Verdana, sans-serif'
//             }
//         }
//     }]
// });


Highcharts.chart('famer_received', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: 0,
        plotShadow: false
    },
    title: {
        text: 'DISTRIBUTION OF SEEDLINGS',
        // align: 'center',
        // verticalAlign: 'middle',
        y: 60
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            dataLabels: {
                enabled: true,
                distance: -70,
                style: {
                    // fontWeight: 'bold',
                    color: 'white'
                }
            },
            startAngle: -90,
            endAngle: 90,
            center: ['50%', '75%'],
            size: '110%'
        }
    },
    series: [{
        type: 'pie',
        name: 'Total Farmers',
        innerSize: '50%',
        data: {{ farmer | safe }}
    }]
});



Highcharts.chart('farm_gender', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Age Proportion'
    },
    // subtitle: {
    //     text: 'Source: <a href="http://en.wikipedia.org/wiki/List_of_cities_proper_by_population">Wikipedia</a>'
    // },
    xAxis: {
        type: 'category',
        labels: {
            rotation: -45,
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Total Farmers'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: 'Total Farmers: <b>{point.y:.1f}</b>'
    },
    series: [{
        name: 'Total Farmers',
        data: [["Male",{{male|safe}}],["Female",{{female|safe}}]],
        dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y:.1f}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    }]
});



Highcharts.chart('age_prop', {
    chart: {
        type: 'funnel3d',
        options3d: {
            enabled: true,
            alpha: 10,
            depth: 50,
            viewDistance: 50
        }
    },
    title: {
        text: 'Age Proportion'
    },
    plotOptions: {
        series: {
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b> ',
                allowOverlap: true,
                y: 10
            },
            neckWidth: '30%',
            neckHeight: '25%',
            width: '80%',
            height: '80%'
        }
    },
    series: [{
        name: 'Total Farmers',
        data: {{ date_arr |safe}},
    }]
});

    
   Highcharts.chart('seedling_survive', {
            chart: {
                zoomType: 'x'
            },
            title: {
                text: 'Seedlings Survival Rate Time Series Chart'
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: ''
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },

            series: [{
                type: 'area',
                name: 'survival rate',
                data: {{seed_result|safe}}
            }]
        });


</script>