 
{% extends 'app/base.html' %}
{% load static %}
{% load eok %}
{% block css %}
l<link rel="stylesheet" type="text/css" href="/static/app/css/print.css">
<style type="text/css">
    
.form-group {
    margin-bottom: 0.5rem;
}
</style>
{% endblock%}

{% block js %}
 <script src="/static/app/js/report.js"></script>

<script type="text/javascript"> 
function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
</script>
{% endblock%}

{% block body %}
    <div class="container-fluid p-0  " >

<button class="btn btn-success" style="margin-left: 1000%" >print</button>
 <div class="container">
    <div class="col-lg-10 offset-lg-1">
        <div id="printableArea">
            <div class="white_card card_height_100 mb_10">
                <div class="white_card_header">
                    <div class="">
                        <div class="row hidden_print">
                           <!--  <a href="#" class="notification_btn red_btn print" style="float: right;">Print</a><br> -->
                            <input  class="notification_btn red_btn print" type="button" onclick="printDiv('printableArea')" value="Print" />
                            <!-- <button class="btn btn-primary" id="printButton">
                                Print
                            </button> -->
                        </div>
                    </div>
                    <div class="main-title">
                        <img class="img_centre" src="/static/app/img/fc.jpeg">
                        <h3 class="m-0" style="text-align: center;">REGISTRATION OF FOREST TREES ON OFF RESERVE LANDS </h3>
                    </div>
                </div>
                <div class="white_card_body">
                    <!-- <h6 class="card-subtitle mb-2"> ggg </h6> -->
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Group Reg No.</label>
                                        <div class="col-sm-10">
                                            <input type="name" class="form-control" id="" readonly placeholder="{{perdetails.farmercode}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Group Name</label>
                                        <div class="col-sm-10">
                                            <input type="name" class="form-control" id="" readonly placeholder="{{perdetails.group_name}}  ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Registration Number</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputEmail3" readonly placeholder="{{perdetails.group_reg_number}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-3 col-form-label">Group President</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="inputEmail3" readonly placeholder="{{perdetails.group_president}}">
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="inputEmail3" readonly placeholder="{{bene_age}}yrs">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Mobile No.</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputEmail3" readonly placeholder="{{perdetails.group_phone}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Email</label>
                                        <div class="col-sm-8">
                                            <input type="email" class="form-control" id="inputEmail3" readonly placeholder="{{perdetails.group_email}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">

                            <img class="col-sm-12" src="/static/app/img/noimage.jpeg" alt="Image description" style="border:1px solid #666;width: 65%;height:95% ">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Postal Address </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="" readonly placeholder="{{perdetails.group_company_add}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">President </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputEmail3" readonly placeholder="{{perdetails.group_president}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Secretary </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputEmail3" readonly placeholder="{{perdetails.group_secretary}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Director</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputEmail3" readonly placeholder="{{perdetails.group_directors | establish}}">
                                </div>
                            </div>
                        </div>
                      <!--   <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Phone No. </label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="inputEmail3" readonly placeholder="{{perdetails.indvi_next_of_kin_phone_no}}">
                                </div>
                               
                            </div>
                        </div> -->
                    </div>
                   <!--  <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Postal Address </label>
                                <div class="col-sm-10">
                                    <input type="name" class="form-control" id="" readonly placeholder="A67 Ahokwa ">
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="white_card card_height_100 mb_10">
                <div class="white_card_header">
                    <div class="box_header m-0">
                        <div class="main-title">
                            <h3 class="m-0">Farm Details</h3>
                        </div>
                    </div>
                </div>
                <div class="white_card_body">
                    <!-- <h6 class="card-subtitle mb-2"> ggg </h6> -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Region</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputEmail3" readonly placeholder="{{perdetails.mmdas.region}} ">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Forest District</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputEmail3" readonly placeholder="{{perdetails.forest_district| title}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Stool / Skin No.</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputEmail3" readonly placeholder="{{perdetails.stool_family | title}} ">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Location / Community</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputEmail3" readonly placeholder="{{perdetails.community | title}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">District Assembly </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputEmail3" readonly placeholder="{{perdetails.mmdas.district | title}}">
                                </div>
                            </div>
                        </div>
                           <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">No. of Planted Trees </label>
                                <div class="col-sm-8">
                                    <input type="name" class="form-control" id="" readonly placeholder="{{tree_count}} ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Farm Size/Plantation Area (HA) </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputEmail3" readonly placeholder="{{farmdetails.area}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Type of Establishement</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputEmail3" readonly placeholder="{{farmdetails.establishment_type | establish}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">No. of Planted Species </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputEmail3" readonly placeholder="{{no_species}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">No. of Corners </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputEmail3" readonly placeholder="{{farmer_corners}}">
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Farm ID </label>
                                <div class="col-sm-10">
                                    <input type="name" class="form-control" id="" readonly placeholder="{{farmdetails.farm_code}}">
                                </div>
                            </div>
                        </div>
                    </div>
                  <!--   <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">No. of Planted Trees </label>
                                <div class="col-sm-10">
                                    <input type="name" class="form-control" id="" readonly placeholder="{{tree_count}} ">
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="white_card card_height_100 pge-break mb_10" style="">
                <div class="white_card_header">
                    <div class="box_header m-0">
                        <div class="main-title">
                            <h3 class="m-0"> Plot /Farm information</h3>
                        </div>
                    </div>
                </div>
                <div class="white_card_body">
                    <!-- <h6 class="card-subtitle mb-2"> ggg </h6> -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive m-b-30">
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col"> Date </th>
                                            <th scope="col"> Point ID </th>
                                            <th scope="col">Latitude</th>
                                            <th scope="col">Longitude</th>
                                            <th scope="col">Way Points </th>
                                            <th scope="col">Remarks </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for aa in farmdetails.coord %}
                                        <tr>
                                            <td scope="row">{{farmdetails.created_date}} </td>
                                            <td> {{forloop.counter}} </td>
                                            <td>{{aa.1}} </td>
                                            <td>{{aa.0}} </td>
                                            <th>00{{forloop.counter}}</th>
                                            <th> </th>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="white_card card_height_100 mb_10">
                <div class="white_card_header">
                    <div class="box_header m-0">
                        <div class="main-title">
                            <h3 class="m-0">(C2) Tree Information on Planted Species ( Commercial Plantation ) </h3>
                        </div>
                    </div>
                </div>
                <div class="white_card_body">
                    <!-- <h6 class="card-subtitle mb-2"> ggg </h6> -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive m-b-30">
                                {% if farmdetails.establishment_type in typeest %}
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col"> No </th>
                                            <th scope="col"> Species </th>
                                            <th scope="col">No. of Trees (Stocking) </th>
                                            <th scope="col"> Planting Distance</th>
                                            <th scope="col">Year of Establishment </th>
                                            <th scope="col">Comments </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for tree in trees %}
                                        <tr>
                                            <td scope="row">{{forloop.counter}} </td>
                                            <td>{{tree.wcp_species_planted}} </td>
                                            <td>{{tree.wcp_species_planted}} </td>
                                            <td>{{tree.wcp_planting_distance}}</td>
                                            <th>{{tree.wcp_establishment_year}}</th>
                                            <th> </th>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col"> No </th>
                                            <th scope="col"> Species </th>
                                            <th scope="col">No. of Trees (Stocking) </th>
                                            <!-- <th scope="col"> Planting Distance</th> -->
                                            <th scope="col">Year of Nurturing </th>
                                            <th scope="col">Year of Planting </th>
                                            <th scope="col">Latitude </th>
                                            <th scope="col">Longitude </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for tree in trees %}
                                        <tr>
                                            <td scope="row">{{forloop.counter}} </td>
                                            <td>{{tree.ptn_species}} </td>
                                            <td>{{tree.ptn_size_of_tree}} </td>
                                            <td>{{tree.ptn_year_nurturing}}</td>
                                            <th>{{tree.ptn_year_planted}}</th>
                                            <th>{{tree.ptn_latitude}} </th>
                                            <th>{{tree.ptn_longitude}} </th>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="white_card card_height_100 mb_10">
                <div class="white_card_header">
                    <div class="box_header m-0">
                        <div class="main-title">
                            <h3 class="m-0">(C1) Declaration </h3>
                        </div>
                    </div>
                </div>
                <div class="white_card_body">
                    <!-- <h6 class="card-subtitle mb-2"> ggg </h6> -->
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="card-subtitle mb-2"> Farmer/Group Rep Signature (Thumbprint) </h6><br>
                            <img class="col-sm-7 img-thumbnail" src="/media/{{perdetails.farmer_thumb}}" itemprop="thumbnail" alt="Image description">
                        </div>
                        <div class="col-sm-8">
                            <h6 class="card-subtitle"> Farmer/Group Witness Signature (Thumbprint) </h6><br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <img class="col-sm-12 img-thumbnail" src="/media/{{perdetails.withness_thumb}}" itemprop="thumbnail" alt="" style="display: inline;">
                                </div>
                                <div class="col-sm-7 offset-1 ">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Name</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputEmail3" readonly placeholder="{{perdetails.group_name}} ">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Date </label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputEmail3" readonly placeholder="{{perdetails.created_date | date:'d,M,Y'}}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Phone Number </label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputEmail3" readonly placeholder="{{perdetails.group_phone}} ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="white_card card_height_100 mb_10">
                <div class="white_card_header">
                    <div class="box_header m-0">
                        <div class="main-title">
                            <h3 class="m-0"> Endorsement </h3>
                        </div>
                    </div>
                </div>
                <div class="white_card_body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6 class="card-subtitle mb-2" style="display: inline; float: left;"> District Forestry Manager's Signature & Stamp </h6>
                            <span style="display: inline; padding:10px; background-color: #d4d4d4; font-weight:500; color: #fff; border-radius: 6px; float:right; margin:-10px 5px 15px;"> FOR OFFICIAL USE ONLY </span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Name: </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputEmail3" readonly placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Date</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputEmail3" readonly placeholder=" ">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Phone # :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputEmail3" readonly placeholder=" ">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 offset-sm-1 ">
                            <div class="form-group row">
                                <label for="" class="col-sm-12 col-form-label"> Comments: <br> All the form details have ben verified, hence approved </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    </div>
{% endblock%}